@import '~antd/dist/antd.css';

.messageBoard{
  /* background:url("resource/body_bg.jpg")  no-repeat top center; */
  display: block;
  text-align: center;
  top:40px;
}
.messageBoard img {
  display: block;
  height: auto;
  max-width: 100%;  
}

.editArea{
  background-color: #fff;
  padding:30px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius:2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}