@import '~antd/dist/antd.css';

@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}
#root{
  height: 100%;
}
/* 使图片自适应浏览器的宽度 */
.background{
  background-color:#fff;
  margin: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  margin: 24px 0 30px 0;
  background-color:#f2f4f5;
  display: inline-block;
  width: 100%;
}
.App-header {
  min-height: 40px;
  width: 100%;
  font-size: calc(10px + 2vmin);
  background:#ff4d4f;
  color: white;
  box-shadow:  0 2px 8px #ffa39e;
  position: fixed;
  top: 0px;
  z-index: 15;
  vertical-align:center;
}

.main-left{
  width: 256px;
  min-height: 100%;
  margin: 0 0 0 0;
  background: #fff;
  float: left;
  position: fixed;
  z-index: 14;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
.main-right{
  background: #f6f6f6;
  margin: 40px 0px 0px 256px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  min-height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.appSider{
  overflow:auto;
  height: 100%;
  position: fixed;
  left: 0;
  z-index:6;
  margin-top:64px;
  background:#fff;
  border-right:1px solid #e8e8e8;
}
.appTrigger {
  display: inline;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.appTrigger:hover {
  color: #cf1322;
}
.logoPic{
  width:200px;
  display: inline;
  margin: -3px 0  -4px 0;
}
.logoDiv{
  display: inline;
  width:200px;
  overflow: hidden;
}
.layoutContent{
  padding: 20px 50px 0 50px;
  margin-top: 64px;
  overflow:hidden;
}
@media (max-width: 576px) {
  .layoutContent{
    padding: 20px 0 0 0;
  }
}
@media  (min-width: 576px) and (max-width: 768px){
  .layoutContent{
    padding: 20px 10px 0 10px;
  }
}
@media  (min-width: 768px) and (max-width: 992px){
  .layoutContent{
    padding: 20px 20px 0 20px;
  }
}
@media  (min-width: 992px) and (max-width: 1200px ){
  .layoutContent{
    padding: 20px 30px 0 30px;
  }
}
@media  (min-width: 1200px) and (max-width: 1600px){
  .layoutContent{
    padding: 20px 40px 0 40px;
  }
}

.appContentMask{
  position:fixed;
  width:100%;
  left:0;
  background-color:rgba(0,0,0,0.45);
  opacity:0;
  height: 0%;
  transition:height 0s ease 0.3s,opacity .3s linear;
  -webkit-transition:height 0s ease 0.3s,opacity .3s linear;
  z-index: 5;
}
.appContentMask.appContentMaskOpen{
  transition:height 0s ease, opacity .3s linear;
  -webkit-transition:height 0s ease, opacity .3s linear;
  height: 100%;
  opacity:1;
}