.search_img_normal  {
    z-index: 0;
    float: left;
    display: block;
    height: auto;
    max-width: 100%; 
    position: relative; 
}
.search_normal  {
    z-index: 3;
    align-items:center;
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    height: 100%;
    max-width: 70%; 
    position: absolute; 
}
.search_img_hidden  {
    z-index: 0;
    display: none;
}
.search_searching  {

}